:root{
    --primary-color: #e50914;
    --dark-color:#141414;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    --webkit-font-smoothing: antialiased;
    background-color: black;
    color: rgb(240, 242, 243);
}

ul{
    list-style: none;
}
h1, h2, h3, h4 {
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
p{
    margin: 0.5rem 0; /* 16/2 = 8 px */
}

img{
    width: 100%;
}
.showcase{
    width: 100%;
    height: 93vh; /*100 vh takes all tthe sceen space, 93 vh leaves a small bar in hte bottom */
    position: relative; /*it fixes position for future divs which will be ablsolute in comparison to this relative showcase */
    background: url('../img/Large\ background.jpg') no-repeat center center/cover;
}
/*for black overlay */ 
.showcase::after{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index:1;
    background:rgba(0, 0, 0, 0.6);
    box-shadow: inset 60px 60px 100px #000000, inset -60px -60px 100px #000000; /*left, top, intensity??, color, then same but other sides*/
}


.showcase-top {
    position: relative;
    height: 90px;
    z-index: 2;
    
}
.showcase-top img{
    width: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*compensating for 50% 50% absolute position and centering it correctly */
}

.showcase-top a{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%); 

}
.showcase-content{
    position: relative;
    margin: auto;
    display: flex; /* I need to invest more time in these flex thingies */
    flex-direction: column;
    justify-content: center;
    align-items: center; /*how come its changing the lenght of the button? */
    text-align: center;
    margin-top: 9rem;
    z-index: 2;
}

.showcase-content h1{
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1;
    margin: 0 0 2rem;
}


.showcase-content p{
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 1.9rem;
    margin: 0 0 2rem;
}

/* Tabs */
.tabs{
    background: var(--dark-color);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
}
.tabs .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* fr stands for fraction unit, here we need 3 sections hence 1fr 1fr 1fr or it could be repeat(3, 1fr); */
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;;
    text-align: center; /* fmi whenever people use display: grid or flexbox they tend to use align items: center; justify-content: center; and text-align:center; */
}







/*test*/



.tabs p{
    font-size: 1.2rem;
    padding-top: 0.5rem;
}


.tabs .container > div{
    padding: 1.5rem 0;
    /*icon and p color*/
    color: gray;

}
.tabs .container > div:hover{
    cursor: pointer;
    color: white;
}

.tab-border{
    border-bottom: var(--primary-color) 4px solid; /*creating bottom border and giving primary color (red)*/
}



/*Tab content*/
.tab-content{
    padding: 3rem 0;
    background: #000;
    color: #fff;
}

#tab-1-content .tab-1-content-inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;;
    text-align: center;
}

#tab-2-content .tab-2-content-top, #tab-3-content .tab-3-content-top{
    display: grid; 
    grid-template-columns: 2fr 1fr; /*fmi makes 2 columns with text take more space than the button*/
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}
#tab-2-content .tab-2-content-bottom{ 
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*in the page visible that text is getting higher with each image as image is shorter. how to fox text..? */
    grid-gap: 2rem;
    justify-content: center;
    text-align: center;
}











.table{
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}
.table thead th{
    text-transform: uppercase;
    padding: 0.8rem;
}
.table tbody tr td{
    color: #999;
    padding: 0.8rem 1.2rem;
    text-align: center;

}
.table tbody tr td:first-child{
    text-align: left;
}
.table tbody tr:nth-child(odd){
    background-color:#222;
}

/**/


/*Container*/
.container{
    max-width: 70%;
    margin: auto; /*fmi makes content to be in the middle*/
    overflow: hidden;
    padding: 0 2rem;
}

/*Text styling*/
.text-xl{   /*we dont use this class. only for scaling purposes*/
    font-size: 2rem;
    margin-bottom: 1rem;
 
}
.text-lg{
    font-size: 1.8rem;
    margin-bottom: 1rem;

}
.text-center{
    text-align: center;
}
.text-dark{
    color: #999;
}
.text-md{
    font-size: 1.5rem;
}


/* Buttons */
.btn {
    display: inline;
    background: var(--primary-color); /*not too clear with this var and --primary color */
    color: #fff; /* video always uses #fff instead of 'white, any benefits? */
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0, 0.45); /* if i understand correlcty 0 0 0 stand for black and last digit, called alpha stand for transparency level from 0 to 1*/
    border-radius: 2px;
}
.btn:hover{
    opacity: 0.9; /*not necessary as not in og page but ok to know */
}

.btn-rounded{
    border-radius: 5px;
}

.btn-xl{
    font-size:2rem; /* aka 2*16 = 32 px */
    padding: 1.5rem 2.1rem;
    background-color:#e50914;
    text-transform: uppercase;
    border-radius: 10px;
    
}

.btn-lg{
    font-size:1rem;
    padding: 0.8rem 1.3rem;
    background-color:#e50914;
    text-transform: uppercase;
}


